[GENERAL]
on_hook_tx_vrms_neg_10dBm = 0
on_hook_rx_vrms_neg_10dBm = 2500
off_hook_tx_vrms_neg_10dBm = 4500
off_hook_rx_vrms_neg_10dBm = 5300
pcm_rec_path = /tmp
pcm_play_path = /tmp
log_always_level = ERROR
log_filter_condition = 5
log_destination = file:/var/log/voip.log:50120:10:1
log_debug_level = 2
log_indication = 3
log_filename = /tmp/voip.log
log_filesize = 1024000
log_server = :514
dns_server = {
	[0] 0.0.0.0:53
	[1] 0.0.0.0:53
}
signal_mark = 100
signal_tos = 160
media_tos = 160
registration_num_retries = 0
registration_retry_interval = 30
registration_retry_interval_up = 0
registration_loop_retry_interval = 0
registration_loop_retry_interval_up = 0
registration_opt = 9
tone_config_file_name = /etc/voip/fv_voip_tones_us.cfg
cidg_config_file_name = /etc/voip/fv_voip_cidg_us.cfg
cidg_data_type = 1
cidg_tas_type = 0
dtmfd_compatible = bellcore,gr-506
tone_config_file_name = /etc/voip/fv_voip_tones_us.cfg
digitmap_syntax = 3
rtp_port_base = 20000
rtp_port_limit = 65535
check_linkstate_flag = 1
dialer_type = 1
rtp_inactive_threshold = 30
rtcp_interval = 8
dump_pkt_enable = 1
dialing_num_overflow_opt = 0
relay_init = 0
daaplusfix_cmd = 
offhook_judgement = 0
user_agent_product = Calix 800GP
user_agent_version = 5300
user_agent_comment = 
invite_timeout = 32000
sip_t1_timeout = 500
sip_t2_timeout = 4000
sip_behavior = 2050
sip_mode = 0
sip_supported_option_tag = 7
call_log_opt = 0
e164_country_code = 1
slic_mlt_test_times = 1

[EP0]
device_id = 0
ep_enable = 0
account_enable = 1
interface_name = pon1.4090
sip_ip_addr_ip_addr = 127.0.0.1
media_mark = 110
sip_ip_addr_protocol = 0
sip_ip_addr_gateway_addr = 
sip_ip_addr_subnet_mask = 255.255.255.255
sip_ip_addr_domain_name = 
sip_signaling_port = 5060
aec_tail = 32
aec_enable = 1
lec_tail = 0
lec_enable = 0
ec_config = 5
ep_default_dsp_codec_type = 2
tx_level = 0
rx_level = 0
txrx_delay = 20
jb_type = 1
fjb_use_mode = 0
ajb_max_delay = 300
ajb_normal_delay = 20
fjb_max_delay = 300
fjb_normal_delay = 20
cid_type = 0
cid_timing = 0
cid_data_msg_format = 0
cidg_signal_lvl_dbm = -13
cidcw_opt = 7
pre_proc_dir = 2
proxy_outbound_flag = 0
domain_name = :5060
sip_registrars = {
	[0] 0.0.0.0:5060
	[1] 0.0.0.0:5060
}
outbound_proxies = {
	[0] 0.0.0.0:5060
	[1] 0.0.0.0:5060
}
sip_proxies = {
	[0] 0.0.0.0:5060
	[1] 0.0.0.0:5060
}
proxy_user_name = 
proxy_password = ~
realm = 
sip_registration_timeout = 3600
sip_registration_delay_ms = 0
sip_registration_refresh_type = 0
sip_reregistration_head_start_time = 360
sip_reregistration_percentage = 90
sip_reregistration_random_base = 100
ims_opt = 0
subscribe_retry_time = 0
subscribe_reg_expires_value = 600
subscribe_ua_expires_value = 3600
subscribe_percentage = 95
sub_reg_info_enable = 0
sub_ua_profile_enable = 0
display_name = 
vad_threshold = 500
vad_type = 1
cng_type = 1
plc_enable = 0
phone_number = ~
call_forward_option = 0
forward_always = 
forward_onbusy = 
forward_onnoanswer = 
call_waiting_option = 0
transfer_option = 0
threeway_option = 0
dnd_option = 0
cid_blocking_option = 0
display_option = 1
display_name_to_header_option = 0
quoted_string_option = 0
hold_mode = 0
hotline_option = 0
hotline_delay_time = 5
hotline_uri = 
flashhook_timeout_ub = 1100
flashhook_timeout_lb = 300
sysrx_gain_cb = 0
systx_gain_cb = 0
devtx_gain_cb = 0
devrx_gain_cb = 0
dsptx_det_power_gain_cb = 0
dsprx_det_power_gain_cb = 0
codec_list = {
	PCMU
}
payloads = {
	L16 97
	telephone-event 99
	G726-16 102
	G726-24 103
	G726-32 104
	G726-40 105
}
g723_bitrate = 6.3 kbit/s
dtmf_type = 0
dtmf_tone_from_info_enable = 0
digitmap = {
	^911n
	^411
	^[2-9][0-9]{6}
	^1[2-9][0-9]{9}
	^011[0-9]*t
	^s[0-9]{2}
}
digitmap_extension = {
	^s[0-9].@mute
}
special_digitmap_enabled = 0
special_digitmap = {
}
special_digitmap_prefix_enabled = 0
special_digitmap_prefix_tone_enabled = 0
ring_delay_timeout = 0
alert_timeout = 0
release_timeout = 0
dialtone_timeout = 16
digit_start_timeout = 4000
digit_short_timeout = 4000
digit_long_timeout = 16000
digit_long_duration_timeout = 2000
complete_match_timeout = 4000
busy_tone_timeout = 16
congestion_tone_timeout = 5
howling_tone_timeout = 180
answer_timeout = 180
cfwdnoanswtimeout = 30
roh_timeout = 0
call_sim_waiting_timeout = 120
dial_tone_pattern = 0
ptime = 20
max_ptime = 30
reverse_polarity_idle = 0
reverse_polarity_caller = 0
reverse_polarity_callee = 0
fax_params_t38_fax_opt = 3
fax_params_vbd_state = 0
fax_params_vbd_tx_interval = 20
fax_params_vbd_rx_interval = 20
fax_params_vbd_voicecoder = 8
fax_params_vbd_process_v22_modem_tone_event = 0
fax_params_vbd_process_v32_modem_tone_event = 0
fax_params_ans_succeed_sig_gap_timeout = 5000
fax_params_ansam_succeed_sig_gap_timeout = 5000
registrar_keepalive_interval = 60
registrar_keepalive_max_try = 3
registrar_keepalive_enable = 0
session_timer_flag = 0
session_refresh_time_percentage = 75
session_timer = 180 180
allow_update_enabled = 0
allow_prack_enabled = 1
speed_dialing_mode = 1
speed_dialing_digitmap = {
	^[0-9s].#
}
digitmap_complete_match = 3
digitmap_match_mode = 1
digitmap_ingore_hash_substitute = 0
digitmap_max_num = 100
pos_num = 0
fv_pos = {
	0 101 0
	0 102 0
}
ipt_num = 0
fv_ipt = {
	0 2373 0
}
feature_code_map = {
}
ringonoff = 1000 4000
ring_vrms_volt = 0
tdi_config_bit_field = 7
tdi_impedance_index = 0
tdi_dcfeed_index = 1
tdi_ring_index = 3
preconnect_flag = 0
preconnect_dst = local_FXO1
inner_name = local_FXS0
caller_id_detection = 0
cidtimeout = 6
fxo_answer_timeout = 1
second_dial_timeout = 500
flashhook_option = 2
flashhook_info_type = 1
flashhook_info_str = event flashhook
emergency_call_option = 88
emergency_call_filename = /fv_voip_emergency_num.cfg
rering_waiting_timeout = 360
relay_idx = 1
uri_user_param_phone_flag = 0
mwi_type = 0
mwi_tone = 1
mwi_server_sip_uri = :0
mwi_subscribe_expire_time = 0
mwi_neon_vpk = 90
mwi_neon_mask_time = 70
mwi_neon_on_time = 1000
mwi_neon_off_time = 1000
distinctive_ring_enable = 1
distinctive_ring_prefix = Bellcore-dr
ring_pattern = {
	0 -1 [0, 2000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	1 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	2 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	3 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	4 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	5 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	6 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	7 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	8 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	9 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
}
dp_params_dp_judgement = 0
dp_params_dp_cycletime_min = 30000
dp_params_dp_cycletime_max = 126000
dp_params_dp_maketime_min = 9000
dp_params_dp_maketime_max = 58000
dp_params_dp_breaktime_min = 24000
dp_params_dp_breaktime_max = 78000
dp_params_dp_interdigit_interval_ms = 300
dp_params_first_pulse_calibration = 8000

[EP1]
device_id = 1
ep_enable = 0
account_enable = 1
interface_name = pon1.4090
sip_ip_addr.ip_addr = 127.0.0.1
media_mark = 120
sip_ip_addr_protocol = 0
sip_ip_addr_gateway_addr = 
sip_ip_addr_subnet_mask = 255.255.255.255
sip_ip_addr_domain_name = 
sip_signaling_port = 5060
aec_tail = 32
aec_enable = 1
lec_tail = 0
lec_enable = 0
ec_config = 5
ep_default_dsp_codec_type = 2
tx_level = 0
rx_level = 0
txrx_delay = 20
jb_type = 1
fjb_use_mode = 0
ajb_max_delay = 300
ajb_normal_delay = 20
fjb_max_delay = 300
fjb_normal_delay = 20
cid_type = 0
cid_timing = 0
cid_data_msg_format = 0
cidg_signal_lvl_dbm = -13
cidcw_opt = 7
pre_proc_dir = 2
proxy_outbound_flag = 0
domain_name = :5060
sip_registrars = {
	[0] 0.0.0.0:5060
	[1] 0.0.0.0:5060
}
outbound_proxies = {
	[0] 0.0.0.0:5060
	[1] 0.0.0.0:5060
}
sip_proxies = {
	[0] 0.0.0.0:5060
	[1] 0.0.0.0:5060
}
proxy_user_name = 
proxy_password = 
realm = 
sip_registration_timeout = 3600
sip_registration_delay_ms = 0
sip_registration_refresh_type = 0
sip_reregistration_head_start_time = 360
sip_reregistration_percentage = 90
sip_reregistration_random_base = 100
ims_opt = 0
subscribe_retry_time = 0
subscribe_reg_expires_value = 600
subscribe_ua_expires_value = 3600
subscribe_percentage = 95
sub_reg_info_enable = 0
sub_ua_profile_enable = 0
display_name = 
vad_threshold = 500
vad_type = 2
cng_type = 1
plc_enable = 0
phone_number = 
call_forward_option = 0
forward_always = 
forward_onbusy = 
forward_onnoanswer = 
call_waiting_option = 0
transfer_option = 0
threeway_option = 0
dnd_option = 0
cid_blocking_option = 0
display_option = 1
display_name_to_header_option = 0
quoted_string_option = 0
hold_mode = 0
hotline_option = 0
hotline_delay_time = 5
hotline_uri = 
flashhook_timeout_ub = 1100
flashhook_timeout_lb = 300
sysrx_gain_cb = 0
systx_gain_cb = 0
devtx_gain_cb = 0
devrx_gain_cb = 0
dsptx_det_power_gain_cb = 0
dsprx_det_power_gain_cb = 0
codec_list = {
	PCMU
	PCMA
	G729
	G723
	G722
	G726-16
	G726-24
	G726-32
	G726-40
}
payloads = {
	L16 97
	telephone-event 99
	G726-16 102
	G726-24 103
	G726-32 104
	G726-40 105
}
g723_bitrate = 6.3 kbit/s
dtmf_type = 0
dtmf_tone_from_info_enable = 0
digitmap = {
	^911n
	^411
	^[2-9][0-9]{6}
	^1[2-9][0-9]{9}
	^011[0-9]*t
	^s[0-9]{2}
}
digitmap_extension = {
	^s[0-9].@mute
}
special_digitmap_enabled = 0
special_digitmap = {
}
special_digitmap_prefix_enabled = 0
special_digitmap_prefix_tone_enabled = 0
ring_delay_timeout = 0
alert_timeout = 0
release_timeout = 10
dialtone_timeout = 16
digit_start_timeout = 4000
digit_short_timeout = 4000
digit_long_timeout = 16000
digit_long_duration_timeout = 2000
complete_match_timeout = 4000
busy_tone_timeout = 16
congestion_tone_timeout = 5
howling_tone_timeout = 180
answer_timeout = 180
cfwdnoanswtimeout = 30
roh_timeout = 15
call_sim_waiting_timeout = 120
dial_tone_pattern = 0
ptime = 20
max_ptime = 30
reverse_polarity_idle = 0
reverse_polarity_caller = 0
reverse_polarity_callee = 0
fax_params_t38_fax_opt = 3
fax_params_vbd_state = 0
fax_params_vbd_tx_interval = 20
fax_params_vbd_rx_interval = 20
fax_params_vbd_voicecoder = 8
fax_params_vbd_process_v22_modem_tone_event = 0
fax_params_vbd_process_v32_modem_tone_event = 0
fax_params_ans_succeed_sig_gap_timeout = 5000
fax_params_ansam_succeed_sig_gap_timeout = 5000
registrar_keepalive_interval = 60
registrar_keepalive_max_try = 3
registrar_keepalive_enable = 0
session_timer_flag = 0
session_refresh_time_percentage = 75
session_timer = 180 180 c
allow_update_enabled = 0
allow_prack_enabled = 1
speed_dialing_mode = 1
speed_dialing_digitmap = {
	^[0-9s].#
}
digitmap_complete_match = 3
digitmap_match_mode = 1
digitmap_ingore_hash_substitute = 0
digitmap_max_num = 100
pos_num = 0
fv_pos = {
	0 102 0
}
ipt_num = 0
fv_ipt = {
	0 2373 0
	0 2374 0
}
feature_code_map = {
}
ringonoff = 1000 4000
ring_vrms_volt = 0
tdi_config_bit_field = 7
tdi_impedance_index = 0
tdi_dcfeed_index = 1
tdi_ring_index = 3
preconnect_flag = 0
preconnect_dst = local_FXO1
inner_name = local_FXS0
caller_id_detection = 0
cidtimeout = 6
fxo_answer_timeout = 1
second_dial_timeout = 500
flashhook_option = 2
flashhook_info_type = 1
flashhook_info_str = event flashhook
emergency_call_option = 88
emergency_call_filename = /fv_voip_emergency_num.cfg
rering_waiting_timeout = 360
relay_idx = 1
uri_user_param_phone_flag = 0
mwi_type = 0
mwi_tone = 1
mwi_server_sip_uri = :0
mwi_subscribe_expire_time = 3600
mwi_neon_vpk = 90
mwi_neon_mask_time = 70
mwi_neon_on_time = 1000
mwi_neon_off_time = 1000
distinctive_ring_enable = 1
distinctive_ring_prefix = Bellcore-dr
ring_pattern = {
	0 -1 [0, 2000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	1 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	2 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	3 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	4 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	5 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	6 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	7 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	8 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
	9 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0] 
}
dp_params_dp_judgement = 0
dp_params_dp_cycletime_min = 30000
dp_params_dp_cycletime_max = 126000
dp_params_dp_maketime_min = 9000
dp_params_dp_maketime_max = 58000
dp_params_dp_breaktime_min = 24000
dp_params_dp_breaktime_max = 78000
dp_params_dp_interdigit_interval_ms = 300
dp_params_first_pulse_calibration = 8000
