
config fvt_evoip 'GENERAL'
	option ubus_voip_log_level '7'
	option on_hook_tx_vrms_neg_10dBm '0'
	option 	on_hook_rx_vrms_neg_10dBm '2500'
	option 	off_hook_tx_vrms_neg_10dBm '4500'
	option 	off_hook_rx_vrms_neg_10dBm '5300'
	option 	pcm_rec_path '/tmp'
	option 	pcm_play_path '/tmp'
	option log_always_level 'ERROR'
	option log_filter_condition '5'
	option log_destination 'file:/var/log/voip.log:50120:10:1'
	option log_debug_level '2'
	option log_indication '3'
	option log_filename '/tmp/voip.log'
	option log_filesize '1024000'
	option log_server ':514'
	list dns_server	'[0] 0.0.0.0:53'
	list dns_server	'[1] 0.0.0.0:53'
	option signal_mark '100'
	option signal_tos '160'
	option media_tos '160'
	option registration_num_retries '0'
	option registration_retry_interval '30'
	option registration_retry_interval_up '0'
	option registration_loop_retry_interval '0'
	option registration_loop_retry_interval_up '0'
	option registration_opt '9'
	option tone_config_file_name '/etc/voip/fv_voip_tones_us.cfg'
	option cidg_config_file_name '/etc/voip/fv_voip_cidg_us.cfg'
	option cidg_data_type '1'
	option cidg_tas_type '0'
	option dtmfd_compatible 'bellcore,gr-506'
	option tone_config_file_name '/etc/voip/fv_voip_tones_us.cfg'
	option digitmap_syntax '3'
	option rtp_port_base '20000'
	option rtp_port_limit '65535'
	option check_linkstate_flag '1'
	option dialer_type '1'
	option rtp_inactive_threshold '30'
	option rtcp_interval '8'
	option dump_pkt_enable '1'
	option dialing_num_overflow_opt '0'
	option relay_init '0'
	option daaplusfix_cmd ''
	option offhook_judgement '0'
	option user_agent_product 'Calix 800GP'
	option user_agent_version '5300'
	option user_agent_comment ''
	option invite_timeout '32000'
	option sip_t1_timeout '500'
	option sip_t2_timeout '4000'
	option sip_behavior '2050'
	option sip_mode '0'
	option sip_supported_option_tag '7'
	option call_log_opt '0'
	option e164_country_code '1'
	option slic_mlt_test_times '1'
	
config fvt_evoip 'EP0'
	option device_id '0'
	option ep_enable '0'
	option account_enable '1'
	option interface_name 'pon1.4090'
	option sip_ip_addr_ip_addr '127.0.0.1'
	option media_mark '110'
	option sip_ip_addr_protocol '0'
	option sip_ip_addr_gateway_addr ''
	option sip_ip_addr_subnet_mask '255.255.255.255'
	option sip_ip_addr_domain_name ''
	option sip_signaling_port '5060'
	option aec_tail '32'
	option aec_enable '1'
	option lec_tail '0'
	option lec_enable '0'
	option ec_config '5'
	option ep_default_dsp_codec_type '2'
	option tx_level '0'
	option rx_level '0'
	option txrx_delay '20'
	option jb_type '1'
	option fjb_use_mode '0'
	option ajb_max_delay '300'
	option ajb_normal_delay '20'
	option fjb_max_delay '300'
	option fjb_normal_delay '20'
	option cid_type '0'
	option cid_timing '0'
	option cid_data_msg_format '0'
	option cidg_signal_lvl_dbm '-13'
	option cidcw_opt '7'
	option pre_proc_dir '2'
	option proxy_outbound_flag '0'
	option domain_name ':5060'
	list sip_registrars '[0] 0.0.0.0:5060'
	list sip_registrars  '[1] 0.0.0.0:5060'
    list outbound_proxies '[0] 0.0.0.0:5060' 
	list outbound_proxies '[1] 0.0.0.0:5060'
	list sip_proxies '[0] 0.0.0.0:5060'
	list sip_proxies  '[1] 0.0.0.0:5060'
	option proxy_user_name ''
	option proxy_password '~'
	option realm ''
	option sip_registration_timeout '3600'
	option sip_registration_delay_ms '0'
	option sip_registration_refresh_type '0'
	option sip_reregistration_head_start_time '360'
	option sip_reregistration_percentage '90'
	option sip_reregistration_random_base '100'
	option ims_opt '0'
	option subscribe_retry_time '0'
	option subscribe_reg_expires_value '600'
	option subscribe_ua_expires_value '3600'
	option subscribe_percentage '95'
	option sub_reg_info_enable '0'
	option sub_ua_profile_enable '0'
	option display_name ''
	option vad_threshold '500'
	option vad_type '1'
	option cng_type '1'
	option plc_enable '0'
	option phone_number '~'
	option call_forward_option '0'
	option forward_always ''
	option forward_onbusy ''
	option forward_onnoanswer ''
	option call_waiting_option '0'
	option transfer_option '0'
	option threeway_option '0'
	option dnd_option '0'
	option cid_blocking_option '0'
	option display_option '1'
	option display_name_to_header_option '0'
	option quoted_string_option '0'
	option hold_mode '0'
	option hotline_option '0'
	option hotline_delay_time '5'
	option hotline_uri ''
	option flashhook_timeout_ub '1100'
	option flashhook_timeout_lb '300'
	option sysrx_gain_cb '0'
	option systx_gain_cb '0'
	option devtx_gain_cb '0'
	option devrx_gain_cb '0'
	option dsptx_det_power_gain_cb '0'
	option dsprx_det_power_gain_cb '0'
	list codec_list 'PCMU'
	list payloads 'L16 97'
	list payloads  'telephone-event 99'
	list payloads  'G726-16 102'
	list payloads  'G726-24 103'
	list payloads  'G726-32 104'
	list payloads  'G726-40 105'
	option g723_bitrate '6.3 kbit/s'
	option dtmf_type '0'
	option dtmf_tone_from_info_enable '0'
	list digitmap '^911n' 
	list digitmap '^411'
	list digitmap  '^[2-9][0-9]{6}'
	list digitmap 	'^1[2-9][0-9]{9}'
	list digitmap  '^011[0-9]*t'
	list digitmap  '^s[0-9]{2}'
	list digitmap_extension '^s[0-9].@mute'
	option special_digitmap_prefix_enabled '0'
	option special_digitmap_prefix_tone_enabled '0'
	option ring_delay_timeout '0'
	option alert_timeout '0'
	option release_timeout '0'
	option dialtone_timeout '16'
	option digit_start_timeout '4000'
	option digit_short_timeout '4000'
	option digit_long_timeout '16000'
	option digit_long_duration_timeout '2000'
	option complete_match_timeout '4000'
	option busy_tone_timeout '16'
	option congestion_tone_timeout '5'
	option howling_tone_timeout '180'
	option answer_timeout '180'
	option cfwdnoanswtimeout '30'
	option roh_timeout '0'
	option call_sim_waiting_timeout '120'
	option dial_tone_pattern '0'
	option ptime '20'
	option max_ptime '30'
	option reverse_polarity_idle '0'
	option reverse_polarity_caller '0'
	option reverse_polarity_callee '0'
	option fax_params_t38_fax_opt '3'
	option fax_params_vbd_state '0'
	option fax_params_vbd_tx_interval '20'
	option fax_params_vbd_rx_interval '20'
	option fax_params_vbd_voicecoder '8'
	option fax_params_vbd_process_v22_modem_tone_event '0'
	option fax_params_vbd_process_v32_modem_tone_event '0'
	option fax_params_ans_succeed_sig_gap_timeout '5000'
	option fax_params_ansam_succeed_sig_gap_timeout '5000'
	option registrar_keepalive_interval '60'
	option registrar_keepalive_max_try '3'
	option registrar_keepalive_enable '0'
	option session_timer_flag '0'
	option session_refresh_time_percentage '75'
	option session_timer '180 180 c'
	option allow_update_enabled '0'
	option allow_prack_enabled '1'
	option speed_dialing_mode '1'
	list speed_dialing_digitmap  '^[0-9s].#'
	option digitmap_complete_match '3'
	option digitmap_match_mode '1'
	option digitmap_ingore_hash_substitute '0'
	option digitmap_max_num '100'
	option pos_num '0'
	list fv_pos '0.101.0'
	list fv_pos  '0.102.0'
	option ipt_num '0'
	list fv_pos  '0.102.0'
	list fv_ipt '0.2373.0'
	list feature_code_map ''
	option ringonoff '1000 4000'
	option ring_vrms_volt '0'
	option tdi_config_bit_field '7'
	option tdi_impedance_index '0'
	option tdi_dcfeed_index '1'
	option tdi_ring_index '3'
	option preconnect_flag '0'
	option preconnect_dst 'local_FXO1'
	option inner_name 'local_FXS0'
	option caller_id_detection '0'
	option cidtimeout '6'
	option fxo_answer_timeout '1'
	option second_dial_timeout '500'
	option flashhook_option '2'
	option flashhook_info_type '1'
	option flashhook_info_str 'event flashhook'
	option emergency_call_option '88'
	option emergency_call_filename '/fv_voip_emergency_num.cfg'
	option rering_waiting_timeout '360'
	option relay_idx '1'
	option uri_user_param_phone_flag '0'
	option mwi_type '0'
	option mwi_tone '1'
	option mwi_server_sip_uri ':0'
	option mwi_subscribe_expire_time '0'
	option mwi_neon_vpk '90'
	option mwi_neon_mask_time '70'
	option mwi_neon_on_time '1000'
	option mwi_neon_off_time '1000'
	option distinctive_ring_enable '1'
	option distinctive_ring_prefix 'Bellcore-dr'
	list ring_pattern '0 -1 [0, 2000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '1 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '2 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '3 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '4 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '5 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '6 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '7 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '8 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '9 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	option dp_params_dp_judgement '0'
	option dp_params_dp_cycletime_min '30000'
	option dp_params_dp_cycletime_max '126000'
	option dp_params_dp_maketime_min '9000'
	option dp_params_dp_maketime_max '58000'
	option dp_params_dp_breaktime_min '24000'
	option dp_params_dp_breaktime_max '78000'
	option dp_params_dp_interdigit_interval_ms '300'
	option dp_params_first_pulse_calibration '8000'
	
config fvt_evoip 'EP1'
	option device_id '0'
	option ep_enable '2500'
	option account_enable '1'
	option interface_name 'pon1.4090'
	option sip_ip_addr_ip_addr '127.0.0.1'
	option media_mark '120'
	option sip_ip_addr_protocol '0'
	option sip_ip_addr_gateway_addr ''
	option sip_ip_addr_subnet_mask '255.255.255.255'
	option sip_ip_addr_domain_name ''
	option sip_signaling_port '5060'
	option aec_tail '32'
	option aec_enable '1'
	option lec_tail '0'
	option lec_enable '0'
	option ec_config '5'
	option ep_default_dsp_codec_type '2'
	option tx_level '0'
	option rx_level '0'
	option txrx_delay '20'
	option jb_type '1'
	option fjb_use_mode '0'
	option ajb_max_delay '300'
	option ajb_normal_delay '20'
	option fjb_max_delay '300'
	option fjb_normal_delay '20'
	option cid_type '0'
	option cid_timing '0'
	option cid_data_msg_format '0'
	option cidg_signal_lvl_dbm '-13'
	option cidcw_opt '7'
	option pre_proc_dir '2'
	option proxy_outbound_flag '0'
	option domain_name ':5060'
	list sip_registrars '[0] 0.0.0.0:5060'
	list sip_registrars  '[1] 0.0.0.0:5060'
    list outbound_proxies '[0] 0.0.0.0:5060' 
	list outbound_proxies '[1] 0.0.0.0:5060'
	list sip_proxies '[0] 0.0.0.0:5060'
	list sip_proxies  '[1] 0.0.0.0:5060'
	option proxy_user_name ''
	option proxy_password ''
	option realm ''
	option sip_registration_timeout '3600'
	option sip_registration_delay_ms '0'
	option sip_registration_refresh_type '0'
	option sip_reregistration_head_start_time '360'
	option sip_reregistration_percentage '90'
	option sip_reregistration_random_base '100'
	option ims_opt '0'
	option subscribe_retry_time '0'
	option subscribe_reg_expires_value '600'
	option subscribe_ua_expires_value '3600'
	option subscribe_percentage '95'
	option sub_reg_info_enable '0'
	option sub_ua_profile_enable '0'
	option display_name ''
	option vad_threshold '500'
	option vad_type '2'
	option cng_type '1'
	option plc_enable '0'
	option phone_number ''
	option call_forward_option '0'
	option forward_always ''
	option forward_onbusy ''
	option forward_onnoanswer ''
	option call_waiting_option '0'
	option transfer_option '0'
	option threeway_option '0'
	option dnd_option '0'
	option cid_blocking_option '0'
	option display_option '1'
	option display_name_to_header_option '0'
	option quoted_string_option '0'
	option hold_mode '0'
	option hotline_option '0'
	option hotline_delay_time '5'
	option hotline_uri ''
	option flashhook_timeout_ub '1100'
	option flashhook_timeout_lb '300'
	option sysrx_gain_cb '0'
	option systx_gain_cb '0'
	option devtx_gain_cb '0'
	option devrx_gain_cb '0'
	option dsptx_det_power_gain_cb '0'
	option dsprx_det_power_gain_cb '0'
	list codec_list 'PCMU'
	list codec_list 'PCMA'
	list codec_list 'G729'
	list codec_list 'G723'
	list codec_list 'G722'
	list codec_list 'G726-16'
	list codec_list 'G726-24'
	list codec_list 'G726-32'
	list codec_list 'G726-40'
	list payloads 'L16 97'
	list payloads  'telephone-event 99'
	list payloads  'G726-16 102'
	list payloads  'G726-24 103'
	list payloads  'G726-32 104'
	list payloads  'G726-40 105'
	option g723_bitrate '6.3 kbit/s'
	option dtmf_type '0'
	option dtmf_tone_from_info_enable '0'
	list digitmap '^911n' 
	list digitmap '^411'
	list digitmap  '^[2-9][0-9]{6}'
	list digitmap 	'^1[2-9][0-9]{9}'
	list digitmap  '^011[0-9]*t'
	list digitmap  '^s[0-9]{2}'
	list digitmap_extension '^s[0-9].@mute'
	option special_digitmap_enabled '0'
	list special_digitmap ''
	option special_digitmap_prefix_enabled '0'
	option special_digitmap_prefix_tone_enabled '0'
	option ring_delay_timeout '0'
	option alert_timeout '0'
	option release_timeout '10'
	option dialtone_timeout '16'
	option digit_start_timeout '4000'
	option digit_short_timeout '4000'
	option digit_long_timeout '16000'
	option digit_long_duration_timeout '2000'
	option complete_match_timeout '4000'
	option busy_tone_timeout '16'
	option congestion_tone_timeout '5'
	option howling_tone_timeout '180'
	option answer_timeout '180'
	option cfwdnoanswtimeout '30'
	option roh_timeout '15'
	option call_sim_waiting_timeout '120'
	option dial_tone_pattern '0'
	option ptime '20'
	option max_ptime '30'
	option reverse_polarity_idle '0'
	option reverse_polarity_caller '0'
	option reverse_polarity_callee '0'
	option fax_params_t38_fax_opt '3'
	option fax_params_vbd_state '0'
	option fax_params_vbd_tx_interval '20'
	option fax_params_vbd_rx_interval '20'
	option fax_params_vbd_voicecoder '8'
	option fax_params_vbd_process_v22_modem_tone_event '0'
	option fax_params_vbd_process_v32_modem_tone_event '0'
	option fax_params_ans_succeed_sig_gap_timeout '5000'
	option fax_params_ansam_succeed_sig_gap_timeout '5000'
	option registrar_keepalive_interval '60'
	option registrar_keepalive_max_try '3'
	option registrar_keepalive_enable '0'
	option session_timer_flag '0'
	option session_refresh_time_percentage '75'
	option session_timer '180 180 s'
	option allow_update_enabled '0'
	option allow_prack_enabled '1'
	option speed_dialing_mode '1'
	list speed_dialing_digitmap '^[0-9s].#'
	option digitmap_complete_match '3'
	option digitmap_match_mode '1'
	option digitmap_ingore_hash_substitute '0'
	option digitmap_max_num '100'
	option pos_num '0'
	list fv_pos  '0.102.0'
	option ipt_num '0'
	list fv_ipt '0.2373.0'
	list fv_ipt '0.2374.0'
	list feature_code_map ''
	option ringonoff '1000 4000'
	option ring_vrms_volt '0'
	option tdi_config_bit_field '7'
	option tdi_impedance_index '0'
	option tdi_dcfeed_index '1'
	option tdi_ring_index '3'
	option preconnect_flag '0'
	option preconnect_dst 'local_FXO1'
	option inner_name 'local_FXS0'
	option caller_id_detection '0'
	option cidtimeout '6'
	option fxo_answer_timeout '1'
	option second_dial_timeout '500'
	option flashhook_option '2'
	option flashhook_info_type '1'
	option flashhook_info_str 'event flashhook'
	option emergency_call_option '88'
	option emergency_call_filename '/fv_voip_emergency_num.cfg'
	option rering_waiting_timeout '360'
	option relay_idx '1'
	option uri_user_param_phone_flag '0'
	option mwi_type '0'
	option mwi_tone '1'
	option mwi_server_sip_uri ':0'
	option mwi_subscribe_expire_time '3600'
	option mwi_neon_vpk '90'
	option mwi_neon_mask_time '70'
	option mwi_neon_on_time '1000'
	option mwi_neon_off_time '1000'
	option distinctive_ring_enable '1'
	option distinctive_ring_prefix 'Bellcore-dr'
	list ring_pattern '0 -1 [0, 2000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '1 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '2 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '3 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '4 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '5 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '6 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '7 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '8 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	list ring_pattern '9 -1 [0, 1000, 4000] [0, 0, 0] [0, 0, 0] [0, 0, 0] [0, 0, 0]'
	option dp_params_dp_judgement '0'
	option dp_params_dp_cycletime_min '30000'
	option dp_params_dp_cycletime_max '126000'
	option dp_params_dp_maketime_min '9000'
	option dp_params_dp_maketime_max '58000'
	option dp_params_dp_breaktime_min '24000'
	option dp_params_dp_breaktime_max '78000'
	option dp_params_dp_interdigit_interval_ms '300'
	option dp_params_first_pulse_calibration '8000'
	